API_KEY_CURRENCY=our_api_key_here #Copy this line into yours .env file
# To get your API_KEY copy the link (https://twelvedata.com/pricing).
# Register on the website, choose a tariff plan and generate yours API_KEY.
# Substitute your API_KEY into the .
API_KEY_STOCK=our_api_key_here #Copy this line into yours .env file
# To get your API_KEY copy the link (https://www.alphavantage.co/documentation/).
# Register on the website, choose a tariff plan and generate yours API_KEY.
# Substitute your API_KEY into the .